<?xml version="1.0" encoding="utf-8" ?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<appSettings>
		<add key="apiBaseAddress" value="https://gorest.co.in/public/v2/users/"/>
		<add key="token" value="5d81c61085bc7816069231b8509972aa78d40e000c4efd2320fb2674f8de8b0c"/>
	</appSettings>

	<connectionStrings>

	</connectionStrings>
</configuration>
